[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/zsh-completions"]
	path = zsh/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/spaceship-prompt"]
	path = zsh/.zsh/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh/.zsh/zsh-history-substring-search"]
	path = zsh/.zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
